<div class="overlayed-screen">
    <div class="holder scrollable align-m">
        <div class="align">
            <h1 class="logo">
                <span class="notVisible">Columnis</span>
            </h1>
            <form class="styled-form" [formGroup]="signinForm" (ngSubmit)="onSubmit()">
                <div>
                    <input class="input" type="text" (blur)="onBlur($event)" id="email" formControlName="email" placeholder="{{ 'auth.login.user' | translate }}" name="email"><br>
                </div>
                <div>
                    <input class="input" type="password" id="password" formControlName="password" name="password" placeholder="{{ 'auth.login.password' | translate }}"><br>
                </div>
                <button class="rounded-btn" type="submit" [disabled]="!signinForm.valid">{{ 'auth.login.enter' | translate }}</button>
            </form>         
        </div>   
    </div>
<app-dialog></app-dialog>
<app-loader></app-loader>
