<div class="edit-available edit-view">
   <div class="panel-content hideOnInternalModal">
      <div class="wrapper">
         <div class="section">
            <p class="subtitle display-inline-block margin-r-4">
               {{ tableModel.title | translate}}
            </p>
                  <!-- ADD ITEM -->
               <a class="bold-link" 
                     (click)="onShowAdd($event)"
                     >{{ "share.simplePanel.add"  | translate}}</a>
                  
               <app-table 
               *ngIf="tableModel" 
               [tableModel]="tableModel"
               (onAddRow)="onAddRow($event)" 
               (onDelete)="onDelete($event)"
               (onUpdate)="onUpdate($event)"
               (onSort)="onSort($event)"
               (onExtraActionClick)="onExtraActionClick($event)">
            </app-table>
         </div>
      </div>

      <div class="footer fixed-bottom"> 
			<div class="fixed-holder holder">
				<div class="content desktop">
					<div class="wrapper align-m">
						<div class="align">
                     <app-pager 
                        *ngIf="apiHalPagerModel.totalItems"
                        [pager]="apiHalPagerModel" 
                        (onChange)="onChangePage($event)">
                     </app-pager>
					   </div> 
					</div> 
				</div> 
			</div> 
		</div> 
      <div class="wrapper section">
            <app-loader></app-loader>
      </div>
   </div>
</div>
<app-modal
   [(state)]="onShowForm">
   <div class="holder" *ngIf="onShowForm">
      <div class="modal-head align-m">
         <div class="align">
            <button 
               (click)="onHideForm()"
               type="button"
               class="link cancel">
               {{ "share.simplePanel.cancel"  | translate }}
            </button>

            <p class="text">
					<span *ngIf="!onShowSave">Agregar nuevo</span>
               <span *ngIf="onShowSave">Modificar</span>
				</p>

            <button *ngIf="!onShowSave" class="link confirm" 
               type="button" 
               [disabled]="!primaryForm.valid"
               (click)="onSave()">
               {{ "share.simplePanel.add" | translate }}</button>
            <button *ngIf="onShowSave" class="link confirm" 
               type="button" 
               [disabled]="!primaryForm.valid"
               (click)="onSave()">
               {{ "share.simplePanel.save" | translate }}</button>
         </div>

      </div>
      <div class="scrollable wrapper section">
         <form *ngIf="onShowForm" [formGroup]="primaryForm" (ngSubmit)="onSave()">
            <ng-content select=".primary-form"></ng-content>
         </form>
      </div>
   </div>
</app-modal>
<app-dialog></app-dialog>
