<form *ngIf="onShowForm" [formGroup]="rowForm" (ngSubmit)="onSave()">
   <ng-content select=".row-form"></ng-content>
   <button *ngIf="!onShowSave" class="btn btn-primary" 
      type="submit" 
      [disabled]="!rowForm.valid">
      {{ "share.simplePanel.add" | translate }}</button>
   <button *ngIf="onShowSave" class="btn btn-primary" 
      type="submit" 
      [disabled]="!rowForm.valid">
      {{ "share.simplePanel.save" | translate }}</button>
   <button type="button" class="btn btn-primary" 
      (click)="onHideForm()">
      {{ "share.simplePanel.cancel"  | translate }}</button>
</form>

<app-table 
   *ngIf="tableModel" 
   [tableModel]="tableModel"
   (onAddRow)="onAddRow($event)" 
   (onDelete)="onDelete($event)"
   (onUpdate)="onUpdate($event)"
   (onSort)="onSort($event)">
   <div class="add-button">
         <button 
            class="btn btn-primary" 
            *ngIf="!onShowForm" 
            (click)="onShowAdd($event)">
            +
         </button>
   </div>
</app-table>
<app-dialog></app-dialog>
<app-pager 
   *ngIf="apiHalPagerModel.totalItems"
   [pager]="apiHalPagerModel" 
   (onChange)="onChangePage($event)">
</app-pager>
<app-loader></app-loader>