<div class="navbar-left">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
          <div class="col-xs-12">
              <a href="/platform" class="btn btn-primary">Inicio</a>
          </div>
          <div class="col-xs-12">
              <a href="/user_groups" class="btn btn-primary">Grupos</a>
          </div>
          <div class="col-xs-12">
              <button class="btn btn-primary" (click)="onLogout()">Salir</button>
          </div>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <h4 class="text-white">Inicio</h4>
    </nav>
  </div>