<div class="layout responsive">
   <app-simple-panel 
      *ngIf="tableModel" 
      [simplePanelOptions]="simplePanelOptions"
      [primaryForm]="primaryForm"
      [tableModel]="tableModel"
      [onParseRow]="onParseRow"
      [onGetDataBaseModel]="onGetDataBaseModel"
      (onExtraAction)="onExtraAction($event)">
      <div class="primary-form styled-form" [formGroup]="primaryForm">
         <app-input-holder
            inputId="app-permission-name"
            [control]="primaryForm.controls.name">
            <label class="label" for="app-permission-name">{{ 'users.permission.name' | translate }}</label>
            <input 
               type="text" 
               class="input"
               formControlName="name"
               id = "app-permission-name"
               placeholder="{{ 'users.permission.name' | translate }}"
               name="name">
         </app-input-holder>

         <!-- <app-input-holder>
            DESCRIPCION
         </app-input-holder> -->
         <div>
            <label class="label" for="description">{{ 'users.permission.description' | translate }}</label>
            <input 
               type="text" 
               class="input"
               id="description"
               formControlName="description"
               placeholder="{{ 'users.permission.description' | translate }}"
               name="newPermission">
         </div>
      </div>
   </app-simple-panel>
</div>
