<app-navbar></app-navbar>
<app-header></app-header>
<div class="row-form" [formGroup]="rowForm">
   <div>
      <input 
         type="text" 
         class="form-control"
         model="newPermission"
         id = "newPermission"
         formControlName="name"
         placeholder="Agregar nuevo permiso"
         name="newPermission">
      </div>
   <div>
      <input 
         type="text" 
         class="form-control"
         formControlName="description"
         placeholder="Descripción"
         name="newPermission">
   </div>
</div>
<app-simple-panel 
   *ngIf="tableModel" 
   [simplePanelOptions]="simplePanelOptions"
   [rowForm]="rowForm"
   [tableModel]="tableModel"
   (onParseRow)="onParseRow($event)"
   [onBeforeUpdate]="onBeforeUpdate"
   [onParseFromInput]="onParseFromInput">
</app-simple-panel>
