<nav class="nav"
  [class.active]="state">
  <!-- CLOSE -->
  <div class="overlay" (click)="onCloseNav()"></div>
  <div class="top">
    <button type="button" (click)="onCloseNav()"class="close-btn"><span></span></button>
    <a routerLink="/">
      <h1 class="logo eva" (click)="onCloseNav()"></h1>
    </a>
  </div>

  <div class="level level-1 show">
    <ul (click)="onCloseNav()" class="menu scrollable desktop">
      <li class="item">
        <a routerLink="/users/groups" class="link align-m">
          <span class="icon">
          </span>
          <span class="align">
            Grupos
          </span>
        </a>
      </li>
      <li class="item">
          <a routerLink="/users/permissions" class="link align-m">
            <span class="icon">
  
            </span>
            <span class="align">
              Permisos
            </span>
          </a>
        </li>
        <li class="item">
          <a (click)="onLogout()" class="link align-m">
            <span class="icon">
            </span>
            <span class="align">
              Cerrar sesión
            </span>
          </a>
        </li>
    </ul>

  </div>

</nav>
<!-- <div class="navbar-left">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
          <div class="col-xs-12">
              <a routerLink="/" class="btn btn-primary">Inicio</a>
          </div>
          <div class="col-xs-12">
              <a routerLink="/user_groups" class="btn btn-primary">Grupos</a>
          </div>
          <div class="col-xs-12">
            <a routerLink="/permissions" class="btn btn-primary">Permisos</a>
        </div>
          <div class="col-xs-12">
              <button class="btn btn-primary" (click)="onLogout()">Salir</button>
          </div>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="select">
        <select class="input" #language (change)="onLanguageChange(language.value)">
          <option disabled selected value="">En/Es</option>
          <option value="es">{{ "common.spanish" | translate }}</option>
          <option value="en">{{ "common.english" | translate }}</option>
        </select>
      </div>
    </nav>
  </div>
   -->