<div class="container">
    <div class="row">
        <table *ngIf="tableModel.body">
            <tr>
                <th *ngFor="let th of tableModel.header">
                    <button (click)="onSortRows(th)">{{ th.display }}</button>
                </th>
            </tr>
            <div>
                <input type="text" placeholder="Filtre" [(ngModel)]="filteredStatus"><br>
                <hr>
            </div>
            <tr *ngFor="let tr of tableModel.body | filter:filteredStatus:'data'">
                <td *ngFor="let td of tr.data">
                    {{ td }}
                </td>
                <div class="btn-group mr-2">
                    <button class="btn btn-primary" (click)="onModifiersRow(tr)">Modificar</button>
                </div>

                <div class="btn-group mr-2">
                    <button class="btn btn-primary" (click)="onDeleteRow(tr)">Eliminar</button>
                </div>
            </tr>
        </table>
    </div>
</div>