<app-navbar></app-navbar>
<app-header></app-header>
<!-- <form [formGroup]="userGroupForm" (ngSubmit)="onSave()">
   <div>
      <input 
         type="text" 
         class="form-control" 
         model="newGroup"
         id="newGroup" 
         formControlName="name" 
         placeholder="Agregar nuevo grupo"
         name="newGroup"><br>
   </div>
   <button class="btn btn-primary" type="submit" [disabled]="!userGroupForm.valid">Agregar grupo o modificar</button>
</form> -->

<app-simple-panel 
   *ngIf="tableModel" 
   [simplePanelModel]="simplePanelModel"
   [tableModel]="tableModel">
</app-simple-panel>

<app-dialog></app-dialog>
<app-pager 
   *ngIf="apiHalPagerModel" 
   [pager]="apiHalPagerModel" 
   (onChange)="onChangePage($event)"></app-pager>
<app-loader></app-loader>