<div class="row-form" [formGroup]="primaryForm">
        <input 
           type="text" 
           class="form-control" 
           model="newRow"
           id="newRow" 
           formControlName="name" 
           placeholder="Agregar nuevo"
           name="newRow"><br>
</div>
<app-simple-panel 
   *ngIf="tableModel" 
   [simplePanelOptions]="simplePanelOptions"
   [primaryForm]="primaryForm"
   [tableModel]="tableModel"
   [onParseRow]="onParseRow"
   [onGetDataBaseModel]="onGetDataBaseModel">
</app-simple-panel>
